h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 100px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2%;
  padding: 30px 0px;
  z-index: 9999;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #eafc4b;
  color: black;
}

.container {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  color: white;
}

p.style {
  background-color: black 25%, white 50%, black 25%;
  color: white;
}

p.wordcontainer {
  text-align: center;
  width: 50%;
  word-wrap: break-word;
  background-color: white;
}