form.wordcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'merriweather', serif;
}

form.wordcontainer label,
form.wordcontainer input,
form.wordcontainer textarea {
  width: 80%;
  max-width: 400px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'merriweather', serif;
}

form.wordcontainer textarea {
  min-height: 100px;
  resize: vertical;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1 {
    padding: 300px 00px 0px 0px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 120px;
    color: #ebf2fa;
    opacity: 1;
    font-weight: bold;
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000;
}

h2 {
    padding: 0px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 70px;
    color: #ebf2fa;
    opacity: 1;
    font-weight: bold;
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000;
}

body {
    font-family: 'Merriweather', serif;
    text-align: center;
    background-color: #679436;
    margin: 0;
    font-size: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #05668d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2%;
  padding: 30px 0px;
  z-index: 9999;
}

.topnav a {
  float: center;
  color: #ebf2fa;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #679436;
  color: #ebf2fa;
}

.topnav a.active {
  background-color: #427aa1;
  color: #ebf2fa;
}

.container {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 0px 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  outline: 5px black;
  backdrop-filter: blur(100%);
}

.background {
  filter: blur(5px);
  position: fixed;
  top: 0;
}

.wordcontainer {
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 66.66%;
  word-wrap: break-word;
  background-color: #ebf2fa;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: #000000;
  text-align: center;
  width: 66.66%;
  word-wrap: break-word;
  background-color: #ebf2fa;
}

ul {
  list-style-type: none;
  padding: 0;
}

img.container {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  align-items: center;
  background-color:#ebf2fa;
}


input[type=text],
input[type=email] {
  width: 50%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: left;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  margin: 8px 0;
  text-align: left;
}